.main {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 24px;
}

.title {
  color: #eee;
  margin-bottom: 16px;
}

.text {
  composes: title;
  margin: 0;

  &_red {
    composes: text;
    color: red;
  }
}
