.gsap {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  align-items: center;

  [class*="box"] {
    background-color: grey;
  }
}

.title {
  max-width: 815px;

  flex-grow: 99;
  flex-basis: 250px;
}

.box {
  max-width: 100px;
  aspect-ratio: 1/1;
  flex-basis: 100px;
  flex-grow: 1;
}

.flair,
.test {
  width: 20px;
  aspect-ratio: 1/1;
  background-color: #eee;
  margin: 50px 0;
}

.nav {
  width: max-content;
}
