.gsapContainer {
  padding: 1000px 0;
  height: 100vh;
}

.blockScroll {
  display: flex;
  gap: 20px;
}

.block2Scroll {
  display: flex;
  justify-content: flex-end;
  gap: 20px;
  margin: 509px 17px 0 0;
}

.scroll {
  &A,
  &B,
  &C,
  &AA,
  &D,
  &E,
  &F {
    width: 50px;
    aspect-ratio: 1/1;
    max-height: 50px;
    background-color: blue;
  }

  &B {
    position: relative;

    &:before {
      content: "";
      width: 60px;
      aspect-ratio: 1/1;
      border: 1px solid blue;
      animation: animRotate360 5s linear infinite;
      position: absolute;
      left: -5px;
      top: -5px;
    }
  }

  @keyframes animRotate360 {
    100% {
      transform: rotate(360deg);
    }
  }
}

.stub600 {
  height: 600px;
}

.cutText {
  width: 400px;
  height: 220px;
  position: relative;

  h1,
  h2 {
    text-transform: uppercase;

    span {
      width: 100%;
      float: left;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
      transform: translateY(-50px);
      opacity: 0;
      animation-name: titleAnimation;
      animation-timing-function: ease;
      animation-duration: 3s;
    }
  }

  h1 span {
    animation-delay: 0.6s;
    -webkit-animation-fill-mode: forwards;

    &:first-child {
      animation-delay: 0.7s;
    }

    &:last-child {
      animation-delay: 0.5s;
    }
  }

  h2 {
    top: 0;
    position: absolute;

    span {
      animation-delay: 4.1s;
      -webkit-animation-fill-mode: forwards;

      &:first-child {
        animation-delay: 4.2s;
      }

      &:last-child {
        animation-delay: 4s;
      }
    }
  }

  @keyframes titleAnimation {
    0% {
      transform: translateY(-50px);
      opacity: 0;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 80%);
    }
    20% {
      transform: translateY(0);
      opacity: 1;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    80% {
      transform: translateY(0);
      opacity: 1;
      clip-path: polygon(100% 0, 100% 100%, 0 100%, 0 15%);
    }
    100% {
      transform: translateY(50px);
      opacity: 0;
      clip-path: polygon(100% 0, 100% -0%, 0 100%, 0 100%);
    }
  }
}

.portal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
