body {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-text-size-adjust: 100%;

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  ::-webkit-scrollbar-track-piece {
    background-color: #ebebeb;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: #a5a7b0;
  }

  * {
    margin: 0;
    padding: 0;
    transition-duration: 0.2s;
    transition-timing-function: ease;
    transition-delay: 0s;
    transition-property: all;
  }
}
